#certifications {
  padding: 80px 20px;
  text-align: center;
}

.section-title {
  font-size: 36px;
  margin-bottom: 40px;
}

.certifications {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.cert-card {
  width: 260px;
  min-height: 220px;

  padding: 30px;

  border-radius: 18px;

  background: #111827;

  border: 1px solid #2d3748;

  box-shadow: 0 8px 25px rgba(0,0,0,0.25);

  transition: all .3s ease;
}

.cert-card:hover {
  transform: translateY(-10px);
}

.cert-icon {
  font-size: 55px;
}

.cert-title {
  font-size: 24px;
  font-weight: 700;

  margin-top: 20px;
}

.cert-status {
  margin-top: 15px;

  font-size: 16px;

  color: #9ca3af;
}
